.row div{
  margin: 10px 0px 0px 0px;
}

.equals{
  display: flex;
  justify-content: center;
}

.mainInputs{
  margin: 20px 0;
}

.magnitudes select{
  margin: 0 30px;
}

.toDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}