body{
  overflow: hidden;
  position: relative;
}

.bg-img{
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  margin: 0;
}

.container{
  position: relative;
}
.container h1{
  display: flex;
  justify-content: center;
}

.row div{
  margin: 10px 0px 0px 0px;
}

.units{
  display: flex;
  justify-content: center;
  width: 100%;
}

.equals{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  font-weight: bold;
}

.mainInputs, .units{
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainInputs input, .magnitudes select{
  width: 100%;
  height: 30px;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.magnitudes select{
  margin: 0 30px;
}

.toDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  color: #40423b;
text-transform: uppercase;
}